@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-primary : "Work Sans", sans-serif;
}

:root {
  @apply font-primary;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





body {
  @apply font-primary font-normal m-0;
}

.btn-primary{
  @apply text-lg text-[#FFFFFF] font-semibold py-3.5 px-7 rounded-lg;
}

.btn-bg-1{
  @apply bg-[#23BE0A]
}

.btn-bg-2{
  @apply bg-[#59C6D2]
}



